doctype html
html(lang="en")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title zoomJS
    link(rel="stylesheet", href="//unpkg.com/mvp.css")
  body
    header
      h1 zoomJS
    main
      h3#myNickname(hidden) My Nickname is 
        span
      h3#myRoom(hidden) My Room is 
        span#myRoomName
        span#myRoomCnt
      
      div#roomList(hidden)
        h3 Room List
        ul

      ul#msgList

      form#nickForm
        input(type="text", name="nickname", placeholder="Nickname 👋")
        button(type="submit") Send
      form#roomForm(hidden)
        input(type="text", name="roomName", placeholder="New Room 🧤")
        button(type="submit") Enter
      form#msgForm(hidden)
        input(type="text", name="msg", placeholder="Write a massege 💌")
        button(type="submit") Enter
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js")
