doctype html
html(lang="en")
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title zoomJS
    link(rel="stylesheet", href="/public/css/app.css")
  body
    div.app-container
      .menu-container
        .room-user-list-container
          h3.menu-title 참가자 
            .room-user-cnt
              | (
              span.js-user-cnt
              | 명)
          ul.room-user-list.js-room-user-list
          .btn-channel-container 
            button 채널보기(준비중)
      .main-container
        .chatting-header
          h3.channel-name 채널명: 
            span.js-channel-name HELLO
        ul.chatting-body.js-chatting-body
        .chatting-form
          form.js-chatting-form
            textarea(name="msg").js-chatting-textarea
            button(type="submit") SEND

    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js")
